body {
    background-image: url(../IMG/raios.png);
    background-color: #4C34AD;
}

:root {
    --cor1: #645CBB;
    --cor2: #4C34AD;
    --cor3: #BFACE2;
    --cor4: #EBC7E6;
}



.Entrar {
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 50px;
    width: 90px;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 35px;
}

.div1 {
    position: absolute;
    width: 644px;
    height: 605px;
    left: 483px;
    top: 94px;
    text-align: center;
    background: rgba(217, 217, 217, 0.25);
}

.div2 {
    position: absolute;
    width: 1440px;
    height: 1011px;
    left: 0px;
    top: 0px;
    
}

.Cancelar {
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 50px;
    width: 110px;
    font-size: 20px;
    margin-top: 35px;
}

.email {
    margin-top: 25px;
    width: 586px;
    height: 43px;
    left: 36px;
    top: 104px;
    border: none;
    background: #EBC7E6;
    border-radius: 8px;
}

.email.baixo {
    margin-top: 35px;
}

.email.senha {
    margin-bottom: 45px;

}

.Escolha {
    margin-top: 15px;
    width: 286px;
    height: 43px;
    left: 36px;
    top: 104px;
    background: #EBC7E6;
    border-radius: 8px;
}

.coracao {
    font-size: 25px;
    margin-top: 25px;
}
.inicio{
    display: flex;
}
.inicio2{
    margin-left: 15px;
    margin-top: 45px;
}
.Cadastrodemidia{
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-size: 15px;
    margin-top: 35px;
   
}
.sair{
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 15px;
    margin-top: 35px;
    margin-left: 20px;
}
.header3{
    display: flex;
    justify-content: space-between;

}
.series{
   
    background: #4C34AD;
    display: flex;
    margin: 20px;
    
}
.series img {
    margin-left: 10px;
}
.titulo{
    color: white;
}
.series3 img{
    width: 200px;
    height: 300px;
    margin-left:60px ;
    background: #4C34AD;
   
}