:root {
    --cor1: #645CBB;
    --cor2: #4C34AD;
    --cor3: #BFACE2;
    --cor4: #EBC7E6;
}

body.Index {
    margin: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.477)), 
    url(../IMG/film-movie-movies-poster-wallpaper-preview.jpg);


    background-repeat: no-repeat;
    background-size: contain;

    background-color: var(--cor2);
}

body {
    background-image: url(../IMG/raios.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: var(--cor2);
}

.card-top {
    margin-top:590px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.card-top > img{
    width: 50%;
}
.card-top > h1{
    margin: 0 auto;
}
.card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.card > img{
    width: 50%;
}
.card > h1{
    margin: 0 auto;
}
.Entrar {
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 50px;
    width: 90px;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 25px;
}

.div1 {
    width: 644px;
    height: 525px;
    background: rgba(217, 217, 217, 0.25);
    text-align: center;
    margin: 0 auto;
}
.header4 {
    display: flex;
    justify-content: space-between;
}

.header3 {align-items: center; justify-content: space-between;}
.navnormal {display: flex; justify-content: space-between; width: 100%;}
.navshort {
    display: none;
}
.navshort ul {
    position: relative;list-style-type: none; background-color: #938DD0;
    left: -30;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.navshort .MenuButton:hover + ul {height: 150px;}
.navshort ul li {font-size: 20px;cursor: pointer;}
.navshort ul li:hover {color:#e0adf7;}
.navshort .MenuButton {font-size: 40px; margin-right: 20px;}


.div6 {
    width: 640px;
    height: 635px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(217, 217, 217, 0.25);
    margin: 0 auto;

}

.div2 {
    position: absolute;
    width: 1440px;
    height: 1011px;
    left: 0px;
    top: 0px;

}

.Cancelar {
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin-top: 25px;
}

.email {
    margin-top: 25px;
    width: 456px;
    height: 43px;
    left: 36px;
    top: 104px;
    border: none;
    background: #EBC7E6;
    border-radius: 8px;
}

.email.baixo {
    margin-top: 35px;
}

.email.senha {
    margin-bottom: 35px;

}

.Escolha {
    margin-top: 15px;
    width: 256px;
    height: 43px;
    left: 36px;
    top: 104px;
    background: #EBC7E6;
    border-radius: 8px;
}

.coracao {
    font-size: 25px;
    margin-top: 25px;
}

.inicio {
    display: flex;
}

.inicio2 {
    margin-left: 15px;
    margin-top: 45px;
}

.Cadastrodemidia {
    width: 180px;
    margin-top: 35px;
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 35px;
}

.Cadastrodemidia2 {
    width: 180px;
    margin-top: 35px;
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 40px;
    width: 200px;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 35px;
}

.sair {
    background: linear-gradient(to bottom, #938DD0, #A084DC, #BFACE2, #EBC7E6);
    border-radius: 5px;
    height: 40px;
    width: 80px;
    font-size: 15px;
    margin-top: 35px;
    margin-left: 20px;
}

.header3 {
    display: flex;
    justify-content: space-between;

}

.header2 {
    display: flex;
    justify-content: space-between;

}

.header5 {
    display: flex;
    justify-content: space-between;
}



.series {

    background: #4C34AD;
    margin: 20px;
    width: 100%;
    display: flex;
    overflow: scroll;

}

.series::-webkit-scrollbar {
    display: none;
}

.series img {
    margin-left: 10px;
}

.titulo {
    color: white;
}

.series3 {
    display: flex;
    overflow: scroll;
    width: 100%;
}

.series3::-webkit-scrollbar {
    display: none;
}

.titulo3 {
    color: white;
}

.series3 img {
    width: 200px;
    height: 300px;
    margin-left: 60px;
    background: #4C34AD;

}

.div3 {
    background-color: #BFACE2;
    height: 30px;
    margin-top: 10px;
}

.p1 {
    text-align: center;
}

h1{
    color: white;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
}
.div5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: auto;
    max-width: 1500px;
}

div>h1 {
    color: white;
}
.card > img {
   width: 50%;
}

.card h1 {
    width: 50%;
    height: 100%;
    text-align: center;
}
.card {
  
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.botao {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: auto;

}

.os100 {
    width: 300px;
}

.os100:hover {
    content: url(../IMG/the100.gif)
}

.arrow {
    width: 300px;
}

.arrow:hover {
    content: url(../IMG/the-arrow-oliver-queen.gif)
}

.supergirl {
    width: 300px;
}

.supergirl:hover {
    content: url(../IMG/supergirl.gif);
    min-width: 300px;
    max-height: 180px;
}

.teenwolf {
    min-width: 300px;
    max-height: 168px;
}

.teenwolf:hover {
    content: url(../IMG/teenwolf.gif)
}

.clubedascoisasmagicas {
    width: 300px;
}

.clubedascoisasmagicas:hover {
    content: url(../IMG/clube\ das\ coisas\ magicas\ gif.gif)
}

.goodwitch {
    width: 300px;
}

.goodwitch:hover {
    content: url(../IMG/goodwitch.gif)
}

.belaeafera {
    width: 300px;
    height: 180px;
}

.belaeafera:hover {
    content: url(../IMG/belaeafera.gif)
}

.aspatricinhasdeberverlyhills {
    width: 300px;
}

.aspatricinhasdeberverlyhills:hover {
    content: url(../IMG/aspatricinhasdebervelyhills.gif);
}

.jogosvorazes {
    width: 300px;
}

.jogosvorazes:hover {
    content: url(../IMG/gif\ jogos\ vorazes.gif)
}

.jumanji {
    width: 300px;
}

.jumanji:hover {
    content: url(../IMG/jumanji-welcome-to-the-jungle-jumanji.gif)
}

.riptide {
    width: 300px;
}

.riptide:hover {
    content: url(../IMG/riptide.gif)
}

.soulsurfer {
    width: 300px;
}

.soulsurfer:hover {
    content: url(../IMG/soulsurfer.gif)
}

@media (max-width:600px) {
    .div1 {
        width: 50%;
        height: 50%;
    }

    .email {
        width: 90%;
    }
    .Escolha {
        width: 40%;
    }
    .header3{
        flex-direction: column;
    }
    .header3 > img{
        width: 50%;
    }
    .header3 > a{
        width: 50%;
    }
    main > h1{
        flex-wrap: wrap;
    }
    .div5{
       flex-direction: column;
    }
    .card-top{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .card{
        flex-wrap: wrap;
    }
    .navnormal{display: none;}
    .navshort{display: block;}
}
.footer2{
    width: auto;
}
.img{
    width: 160px;
    height: 135px;
}